.flex{display: flex;}
.justify-content-center{justify-content: center;}
.align-items-center{align-items: center;}
.mt{margin: 6rem;}
.border-radius{border-radius: 4px;}
.space-between{justify-content: space-between;}
.border-width{border-width: 5px;}
.border-color{border-color:white;}
